version: '3.9'

services:
  db:
    build: ./postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - ./dotenv_files/.env
      
  app:
    build: ./app
    volumes:
      - ./app:/app
    ports: 
    - 8000:8000
    depends_on:
      - db
    env_file:
      - ./dotenv_files/.env

volumes:
  postgres_data:

  